body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1{
    color: #3acc00;
    font-size: 36px;
}

p{
    color: #c91e1e;
    font-size: 18px;
}
